
#body {
  background-color:#cdc1ff;
}

/*Hero Banner */

header {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #7371fc;
}
header img {
  border-radius: 5px 5px 0 0;
  aspect-ratio: 16 /9;
}

header h1 {
    text-align: center;
    font-family: "Jost", GolosText, Afacad;
    font-size: 60px;
}
header h2 {
  min-width: 305px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color:white;
}

h2 {
display: flex;
justify-content: center;
font-family: "Sriracha", Damion;
}
header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter:blur(8px);
  opacity: .8;
}

/*content section */


#content img {
  display: flex;
  justify-content: center;
  width: 100%;   
}
#content {
  margin-bottom: 80px;
  margin-top: 80px;
}
#content h2 {
  font-size: 40px;
}
.content-info {
  font-family: "Jost", GolosText, Afacad;
  padding-left: 10px;
}

/* card */

#card-container {
  display:flex;
  width: 100%;
  height: auto;
  flex-direction:row;
  flex-wrap:wrap;
  margin-right:40px;
  justify-content:space-around;
}
#my-work h2 {
  font-size: 40px;
}

.card {
    box-shadow: 4px 9px 9px 0px #8187dc;
    width:100%;
    border: solid;
    border-color:#7371fc;
    border-radius: 0.25rem;
    margin-bottom: 30px;
}
  .card:hover {
    box-shadow: 0 8px 16px 0 #7371fc;
  }
  div#card-content {
  margin-bottom: 40px;
  }
.card img {
    border-bottom: 0.25rem solid #7371fc;
    box-shadow: 0 4px 4px 0px #8187dc;
    border-radius: 0.25rem 0.25rem 0 0;
    width:100%;
    height:75%;
    object-fit: cover;
  }
  .card .commercial {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0 9px 9px 0 #8187dc;
    border-bottom: 0.25rem solid #7371fc;
    border-right: 0.25rem solid #7371fc;
    width:100%;
    aspect-ratio: 16 / 9;
}
  .card-content {
    background-color: #b1caff;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Jost", GolosText, Afacad;
}
h3 {
  font-size: 30px;
  margin-top: 3%;
}
h4 {
  font-size: 25px;
}
div.card {
  background-color: #b1caff;
  height: 100%;
}

/* video */

iframe {
  margin-right: 40px;
}

/*accordion*/

#accordion h2 {
  font-size: 40px;
  margin-top: 80px;
}
#accordion {
  margin-bottom: 30px;
}
.accordion-container {
    background-color:#cdc1ff;
    margin-bottom: 30px;
    color: black;
  
  }
  .accordion-container .accordion {
    background-color: #a594f9;
    color: black;
    padding: 10px;
    width: 100%;
    border: solid;
    text-align: left;
    outline: none;
    transition: 0.6s;
    border-radius: 60px;
  }

  .material-symbols-outlined {
    position: relative;
    float: right;
  }
  .material-symbols-outlined:after {
    content: '\e5cf';
    font-size: 30px;
    color: black;
  }
  .material-symbols-outlined:hover {
    background-color:#8187dc;
    border-radius: 60px;
  }
  .panel {
    padding:0 30px;
    background-color:  #f5efff;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.4s ease-out;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 60px;
    font-family: "Jost", GolosText, Afacad;
  }

/* footer */

  footer {
    text-align: center;
    font-family:"Jost", GolosText, Afacad;
  }
  
  button.accordion {
    font-size: 15px;
    font-family:"Jost", GolosText, Afacad;
  }
  /* palette colours #7371fc #a594f9 #cdc1ff #f5efff #e5d9f2 #8187dc */


  /* Tablet */

  @media( width >=768px) {

    header {
      height: 600px;
    }
    header h1 {
      font-size:60px ;
    }
    header h2 {
      font-size: 30px;
    }
    
    .content-info {
      display: grid;
      align-items: center; 
      grid-template-columns: 1fr 1fr;
      column-gap: 5px;
      font-size: 20px;
    }
     
     #content img {
      margin-inline: auto;
       max-width: 478px;
       max-height:100%
    }
     
    #card-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px
    }
    .card img {
      height:70%;
    }
    .card-content p {
      font-size: 17px;
    }
    .card .commercial {
      margin-top: 50px;
    }
  button.accordion {
    font-size: 20px;
  }
  }

  /*Desktop view */

  @media (width >=1100px) {

    header {
      height: 700px;
    }
    header h1 {
      font-size:70px ;
    }
    header h2 {
      font-size: 40px;
    }
    .content-info {
      font-size:25px;
      }
    .card-content p {
      font-size:25px;
    }
    button.accordion {
      font-size: 30px;
    }
    .panel p{
      font-size: 25px;
    }
  }